*.ktx2 filter=lfs diff=lfs merge=lfs -text
*.basisu_ktx2 filter=lfs diff=lfs merge=lfs -text
vendor/basis_universal/**/* filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
crates/basisu_sys/wasm/* filter=lfs diff=lfs merge=lfs -text
