[target.wasm32-unknown-unknown]
rustflags = ["-Ctarget-feature=+simd128"]

[target.'cfg(all(not(debug_assertions), target_os = "emscripten"))']
rustflags = [
  "-Ctarget-feature=+simd128",
  "-Clink-arg=-sEXPORT_ES6",
  "-Clink-arg=-sALLOW_MEMORY_GROWTH",
  "-Clink-arg=-sEXPORTED_RUNTIME_METHODS=HEAPU8",
  "-Clink-arg=-sEXPORTED_FUNCTIONS=_malloc,_free,_c_basisu_transcoder_init,_c_ktx2_transcoder_new,_c_ktx2_transcoder_delete,_c_ktx2_transcoder_transcode_image,_c_ktx2_transcoder_get_r_dst_buf,_c_ktx2_transcoder_get_r_dst_buf_len,_c_ktx2_transcoder_get_r_width,_c_ktx2_transcoder_get_r_height,_c_ktx2_transcoder_get_r_levels,_c_ktx2_transcoder_get_r_layers,_c_ktx2_transcoder_get_r_faces,_c_ktx2_transcoder_get_r_target_format,_c_ktx2_transcoder_get_r_is_srgb",
]

[target.'cfg(all(debug_assertions, target_os = "emscripten"))']
rustflags = [
  "-Ctarget-feature=+simd128",
  "-Clink-arg=-sASSERTIONS=1",
  "-Clink-arg=-sEXPORT_ES6",
  "-Clink-arg=-sALLOW_MEMORY_GROWTH",
  "-Clink-arg=-sEXPORTED_RUNTIME_METHODS=HEAPU8",
  "-Clink-arg=-sEXPORTED_FUNCTIONS=_malloc,_free,_c_basisu_transcoder_init,_c_ktx2_transcoder_new,_c_ktx2_transcoder_delete,_c_ktx2_transcoder_transcode_image,_c_ktx2_transcoder_get_r_dst_buf,_c_ktx2_transcoder_get_r_dst_buf_len,_c_ktx2_transcoder_get_r_width,_c_ktx2_transcoder_get_r_height,_c_ktx2_transcoder_get_r_levels,_c_ktx2_transcoder_get_r_layers,_c_ktx2_transcoder_get_r_faces,_c_ktx2_transcoder_get_r_target_format,_c_ktx2_transcoder_get_r_is_srgb",
]

[alias]
b_basisu_vendor = "b -Z build-std=std,panic_abort -p basisu-vendor --target wasm32-unknown-emscripten --profile web_release"
b_test_scene = "b -Z build-std=std,panic_abort -p test_scene --target wasm32-unknown-unknown"
