# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
  # Runs on pushes targeting the default branch
  # push:
  # branches: ["master"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Copy prebuilt basisu vendor
        run: rm -r web/debug/ && rm web/basisu-vendor.js && rm web/basisu_vendor.wasm && cp prebuilt/basisu-vendor.js web/ && cp prebuilt/basisu_vendor.wasm web/

      - name: Install wasm-opt
        run: wget https://github.com/WebAssembly/binaryen/releases/download/version_125/binaryen-version_125-x86_64-linux.tar.gz && tar -xvf binaryen-version_125-x86_64-linux.tar.gz && sudo cp binaryen-version_125/bin/wasm-opt /usr/local/bin/

      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@v1.16.6

      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly-2025-12-29 # Sync with rust-toolchain.toml
          targets: wasm32-unknown-unknown

      - name: Build
        run: cargo b_test_scene --profile web_release

      - name: Install wasm-bindgen
        run: cargo binstall --force wasm-bindgen-cli

      - name: Wasm bindgen
        run: wasm-bindgen --out-name wasm_example --out-dir web/target/ --target web target/wasm32-unknown-unknown/web_release/test_scene.wasm

      - name: Optimize wasm
        run: wasm-opt --enable-bulk-memory-opt --enable-exception-handling --translate-to-exnref --enable-simd --enable-nontrapping-float-to-int -Os ./web/target/wasm_example_bg.wasm -o ./web/target/wasm_example_bg.wasm

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: web/

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
